
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
}



.bar__header {
    position: relative;
    width: 778px;

}

.bar__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #002033;
}

.bar__subtext {
    line-height: 16px;
    color: rgba(0, 32, 51, 0.6);

}

.swapicons {
    width: 32px;
    height: 32px;
    background: rgba(0, 66, 105, 0.07);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    top: 16px
}
